node_modules
.next
.git
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
tsconfig.tsbuildinfo
*.tsbuildinfo
*.swp
*.swo
*.tmp
*.temp
tmp
temp
*.pdf
